<header class="fixed-top">
  <nav class="navbar navbar-light bg-white shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="text-success header-text" routerLink="/home">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person-fill" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
      </svg>
      <span class="ml-1 align-middle">{{appName}}</span>
    </a>
    <button class="btn btn-sm btn-danger pull-right" type="submit" (click)="logout()">Log out</button>
    <div class="sidebar collapse navbar-collapse rounded" id="navbarSupportedContent">
      <div class="mt-2 list-group list-group-flush text-nowrap">
        <a routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action"
          data-toggle="list">Manage Groups</a>
        <a routerLinkActive="active" class="list-group-item list-group-item-action" data-toggle="list">Manage Users</a>
      </div>
    </div>
  </nav>
</header>
